In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(R'C:\Users\Usuario\Desktop\TrabajosDMI\Interacci√≥n sociotecnologica\Lista2.csv')

In [4]:
print("\nBefore sorting:")

Before sorting:

In [5]:
print(data)

                Nombres  Edad  hamburguesas
0  Juan Manuel Enriquez    18             8
1        Maria Gonzales    46             1
2           Mejia Rojas    33             8
3      Isabella Jimenez    24            10
4          Jhon Giraldo    43             4
5          Harold Mejia    44             9
6     Juan Camilo Rojas     3             3
7       Alejandra Maria     2             8
8   Juanjose de la rosa    12             3

In [42]:
select = ""
inputTest = input("Escribe 1 para Edad o 2 para Hamburguesas:")

select2 = ""
inputTest2 = input("Escribe 1 para ascendente o 2 para decendente:")

Escribe 1 para Edad o 2 para Hamburguesas:1
Escribe 1 para ascendte o 2 para decendente:2

In [43]:
select = inputTest

select2 = inputTest2

if select == "1" and select2 == "2":
    data.sort_values(["Edad"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True)
if select == "2" and select2 == "2":
    data.sort_values(["hamburguesas"], 
                    axis=0,
                    ascending=[False], 
                    inplace=True)
    
if select == "1" and select2 == "1":
    data.sort_values(["Edad"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)
    
if select == "2" and select2 == "1":
    data.sort_values(["hamburguesas"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)

In [44]:
print(data)

                Nombres  Edad  hamburguesas
1        Maria Gonzales    46             1
5          Harold Mejia    44             9
4          Jhon Giraldo    43             4
2           Mejia Rojas    33             8
3      Isabella Jimenez    24            10
0  Juan Manuel Enriquez    18             8
8   Juanjose de la rosa    12             3
6     Juan Camilo Rojas     3             3
7       Alejandra Maria     2             8